# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Notebook checkpoints
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Environment / local config
.env
.env.*

# OS/editor noise
.DS_Store
Thumbs.db
.vscode/

# Exclude large artifacts from GitHub commits
data/
models/rf_no_smote_model.joblib
models/rf_smote_tuned_model.joblib
